ASPNETCORE_ENVIRONMENT=Development

# --- Auth Service ---
AUTH_DB_NAME=auth_db
AUTH_DB_USER=auth_user
AUTH_DB_PASSWORD=SuperStrongPass123!
JWT_KEY=your-super-secret-jwt-key-at-least-32-chars!!!

# --- Dish Service ---
DISH_DB_NAME=dish_db
DISH_DB_USER=dish_user
DISH_DB_PASSWORD=SuperStrongPass123!

# --- Order Service ---
ORDER_DB_NAME=order_db
ORDER_DB_USER=order_user
ORDER_DB_PASSWORD=SuperStrongPass123!
